
.header-logo:focus{
    outline: none;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ba2732;
}
 .scan-input:focus + .scan-icon::before{
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    opacity:1;
    background: url("/src/img/icon-search2.png") no-repeat;
} 
.scan-input:focus{
    color:black;
    background-color:white;
}

.nav-button:focus{
    outline: none;
    background-color: #161d29;
}
.nav-button__green:focus{
    background-color: #518534;
}
.navigation__button:focus{
    outline: none;
    background: #923137;
}