.main-navigation:focus{
    background: #923137;
}
.header-logo:focus{
    outline: none;
   // border:2px solid #5fbb2d;
    background:#5fbb2d;
}
.poisk-input:focus{
    outline: none;
    background: #923137;
   // border:2px solid red;
}
.nav-button:focus{
    outline: none;
    background: #923137;
   // border:2px solid red;
}

.navigation__button:focus{
    outline: none;
    background: #923137;
}