.main-page{
    max-width:960px;
    margin:0 auto;
    padding:0;
}
.promo-list{
    padding:0;
}
.promo{
    width:300px;
    color:white;
    padding-top:10px;
    padding-left:20px;
    min-height:123px;
    h2{
        margin:10px 0 0 0;
    }
    a{
        margin-top:15px;
        padding:10px;
        min-height:38px;
        text-align:center;
        color:white;
    }
}
.promo__matherial{
    background-color: #ffbf47;
    background-image:url("/src/img/icon-1.png");
    background-repeat: no-repeat;
    background-position: 85%;
    a{  
        display:block;
        text-transform: uppercase;
        width:135px;
        background-color: rgba(255, 255, 255, 0.2);
    }
}
.promo__tools{
    background-color: #3bbce3;
}
.promo__technica{
    background-color: #dc91d8;
}
.promo__discount{
    background-color: #8ed78f;
}
.promo__free{
    background-color: #ffc047;
}